@charset "UTF-8";

a {
	
	text-decoration: none;
}

a:hover {
	
	text-decoration: none;
}

.container ul li {
	
	list-style: none;
}

#list_box {
	
	width: 100%;
	overflow: hidden;
}



#list_box ul {
	
	padding: 0;
}


.p_list {
	
	width: 100%;
	margin: 20px 0;
	overflow: hidden;
	box-sizing: border-box;
}


.p_list_box {
	
	overflow: hidden;
	letter-spacing: -1px;
	font-weight: 700;
	border: 1px solid #ddd;
}


.p_list a {
	
	display: block;
	overflow: hidden;
	box-sizing: border-box;
	float: left;
	width: 32%;
	margin-right: 22px;
	margin-bottom: 30px;
	color: #383838;
}


.p_list a:hover {
	
	color: #383838;
}



.p_list_box img {
	
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 15px;
}


.p_list a:nth-child(3n) {
	
	float: right;
	margin: 0;
	overflow: hidden;
	box-sizing: border-box;
}


.title, .price {
	
	padding-left: 10px;
}

.title {
	font-size: 1.2em;
}


.price {
	
	font-size: 1em;
	letter-spacing: 0;
}
