@charset "UTF-8";

a {
	
	text-decoration: none;
}

a:hover {
	
	text-decoration: none;
}

.container ul li {
	
	list-style: none;
}


#list_box {
	
	width: 100%;
	overflow: hidden;
	margin: 50px auto;
}


#img_box {
	
	float: left;
	overflow: hidden;
	width: 40%;
}


#img_box img {
	
	width: 100%;
	box-sizing: border-box;
}


#product_box {
	
	float: right;
	overflow: hidden;
	width: 55%;
}


#p_box {
	
	width: 100%;
	font-size: 1.3em;
	letter-spacing: -1px;
	font-weight: 700;
}


#p_box ul {
	
	padding-left: 0;
}

#p_box li {
	
	margin-bottom: 10px;
}


#button {
	
	margin-top: 20px;
}




#addCart {
	
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 2%;
	width: 20%;
	font-size: 1.3em;
	font-weight: 700;
	margin-right: 10px;
}


#buy { 
	
	background-color: #ddd;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 2%;
	width: 20%;
	font-size: 1.3em;
	font-weight: 700;
	
}



#contents_box {
	
	width: 100%;
	margin-top: 350px;
}
