<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ProductQnaMapper">
  
  <insert id="setWrite" parameterType="ProductQnaVO">
  	INSERT INTO PRODUCTQNA VALUES
  	(
	  	#{pid}, 
	  	PRODUCT_SEQ.NEXTVAL, 
	  	#{title}, 
	  	#{writer}, 
	  	#{contents}, 
	  	sysdate, 
	  	0,
	  	PRODUCT_SEQ.CURRVAL,
	  	0,
	  	0
  	)
  </insert>
  
 	<select id="getList" resultType="ProductQnaVO" parameterType="java.util.Map">
		select * from
		(select rownum R, P.* from
		(select * from productqna where pid=#{pid} order by ref desc, step asc) P )
		where R between #{pager.startRow} and #{pager.lastRow}
	</select>
	
	<select id="getSelect" parameterType="Integer" resultType="ProductQnaVO">
		select * from productqna where num=#{num}
	</select>
  
  </mapper>